.logotext{
    font-size: 60px;
    color: orange;
    text-align: center;
    margin: 25px auto;
    font-family: 'Lilita One', cursive;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
}
.logo img{
    position: absolute; 
    margin: auto; 
    width: 100%;
    text-align:center;
    top: 20px;
    width: 400px;
    padding: 10px auto;
}
.logo2 img{
        float: right;
        position: absolute;
        right: 0;
        top: 80px;
        width: 250px;
        margin-right: 50px;
      
}
.container {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    color: white;
    text-align: center;
    margin: 25px auto;
}

h1,
h2 {
    margin-left: 45px;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: darkblue;
    width: 800px;
    font-size: 40px;
    padding: 10px auto;
}

.answer {
    border: 7px solid darkblue;
    border-radius: 20px;
    box-shadow: 0 17px 7px -7px black;
    padding: 5px 10px 5px 45px;
    width: 610px;
    text-align: left;
    margin-top: 20px;
    position: relative;
    font-size: 22px;
    cursor: pointer;
    transition: ease-in-out, width 0.35s ease-in-out;
}

.answer.selected {
    color: #fff;
    background-color: orangered;
    border: 7px solid #fff;
}

.answer:hover {
    color: #fff;
    background-color: darkblue;
    border: 7px solid #fff;
    animation: .3s morph ease infinite;
}

@keyframes morph {
	0% {
		border-radius: 100px 50px 100px 50px;
	} 50% {
		border-radius: 50px 100px 50px 100px;
	} 100% {
		border-radius: 100px 50px 100px 50px;
	}
}

.answer:focus {
    outline: none;
}
.results{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 34px;
  background-color: black;
  height: 100%;
  width: 900px;
  text-align: center;
  border-radius: 77px;
}

.results span.correct {
    color: lawngreen;
    font-size: 40px;
}

.results span.failed {
    color: red;
    font-size: 40px;
}

.error {
    color: greenyellow;
    animation: blinker 1s linear infinite;
    font-size: 30px;
}
@keyframes blinker {
  50% {

  }
}

.letter {
    color: orangered;
    width: 30px;
    position: absolute;
    left: 0;
    text-align: center;
    height: 28px;
    top: 0;
    padding: 5px;
    text-transform: uppercase;
}

.btn {
    color: orangered;
    background-color: #f4f4f4;
    padding: 10px 50px;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.btn-primary {
    color: #fff;
    background-color: darkblue;
    border: 5px solid white;
    border-radius: 25px;
    font-weight: bold;
    box-shadow: 0 17px 7px -7px black;
}
.footer{
flex-shrink: 0;
text-align: center;
background-color: orange;
color: darkblue;
font-size: 40px;
border-top-width: 7px;
border-top-style: double;
border-top-color: #fff ;
border-bottom-width: 7px;
border-bottom-style: double;
border-bottom-color:  #fff;
}
